@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url(/CaskaydiaCoveNF.woff);
}

/*
 * Body
 */

body {
    background-color: #0C111B;
}

/*
 * Scrollbar
 */

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: theme('colors.gray.700');
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: theme('colors.gray.500');
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.600');
}

/*
 * Commands
 */

.paddingDotsLeft {
    width: fit-content;
    float: left;
}

.paddingDots {
    overflow: hidden;
    flex-grow: 1;
}

.paddingDotsRight {
    width: fit-content;
    float: right;
}

.tree-list {
    list-style-type: "├";
}

.tree-list > li {
    padding-inline-start: 1ch;
}

.tree-list > li:last-of-type {
    list-style-type: '└';
}

.float-in {
    animation-name: float-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

    opacity: 0;
}

@keyframes float-in {
    from {
        transform: translateY(-0.5ch);
        opacity: 0;
    }
    to {
        transform: translateY(0ch);
        opacity: 1;
    }
}